body{
    padding: 0;
    margin: 0;
}
.taskbar{
    background-color: rgb(209, 207, 207);
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons, .icon{
    color: rgb(114, 114, 114);
    
}

.label{
    background-color: #fff;
    height: 3vh;
    width: 80%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    
}

.circles{
    display: flex;
    justify-content: space-around;
    width: 50px;
}

.circles > div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(114, 114, 114);
    
}

.circles > div:last-child{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

nav{
    height: 10vh;
    background-color: rgb(114, 114, 114) ;
}


.container{
    margin-inline: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.left{
    margin-top: 3%;
    width: 60%;
}

.titles{
    display: flex;
    align-items: center;

}

.titles h2{
    width: 15%;
    height: 3vh;
    background-color: #ccc;
    margin: 0;
    margin-right:3% !important;
}

.titles h2:first-child{
    background-color: #494949;
}


.content{
    height: 50vh;
    background-color: #494949;
    margin: 0;
}

.grid-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.grid-item {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 148px;
    gap: 15px;
}

.img{
    width: 100%;
    height: 13vh;
    background-color: #ccc;
}

.desc h3{
    width: 100%;
    height: 1vh;
    background-color: #ccc;
}
.moreInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.moreInfo p{
    width: 60%;
    height: 1vh;
    background-color: #ccc;
}

.moreInfo span{
    width: 30%;
    height: 1vh;
    background-color: #ccc;
}


.right{
    width: 30%;
}

.Rtitles{
    display: flex;
    flex-direction: row-reverse;

}
.Rtitles h4{
    background-color: #ccc;
    width: 8%;
    height: 3vh;
    margin-right: 3% !important;
    display: flex;
    align-items: flex-start;
}
.Rcontent{
    background-color: #494949;
    height: 50vh;
}

.extraContent{
    background-color: #ccc;
    height: 5vh;
    margin-top: 5%;
}

.read_more{
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    margin-top: 3%;
    width: 100%;
    gap: 15px;
}

.aboutImg{
    width: 100%;
}

.Rimg{
    width: 70%;
    height: 17vh;
    background-color: #ccc;
    margin-top: 5%;
}

.aboutImg h4{
    width: 100%;
    height: 1vh;
    background-color: #ccc;
}

.moreAboutImg, .moreAboutImg2{
    height: 1vh;
    background-color: #ccc;
    width: 100%;
}


.moreAboutImg2{
    margin-top: 1.33em;
}


.line{
    height: 1vh;
    background-color: #494949;
    margin-top: 1.33em;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


footer{
    background-color: rgb(114, 114, 114);
    height: 10vh;
    margin-top: 3%;
}


